################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WaltersEmployeeManager2/.vs/WaltersEmployeeManager2
/WaltersEmployeeManager2/bin/Debug
/WaltersEmployeeManager2/obj/Debug/WaltersEmployeeManager2.exe.config
